@model BearCave_2._0.Models.Unit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitID" />
            <div class="form-group">
                <label asp-for="DoorNum" class="control-label"></label>
                <input asp-for="DoorNum" class="form-control" />
                <span asp-validation-for="DoorNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor" class="control-label"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultRent" class="control-label"></label>
                <input asp-for="DefaultRent" class="form-control" />
                <span asp-validation-for="DefaultRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentRent" class="control-label"></label>
                <input asp-for="CurrentRent" class="form-control" />
                <span asp-validation-for="CurrentRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
