@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
    <p>Learn about bears </p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"> &laquo; LINK &raquo;</a></p></p>
    <div class="display-6">
        <h2>Github</h2>
        <p>Please see the following for the Github repo link</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">&laquo; LINK &raquo;</a></p>
    </div>
</div>
