@{
    ViewData["Title"] = "Bears";
}
<h1>@ViewData["Title"]</h1>

<!--Just for fun really-->

<iframe width= 560 height= 370 margin-left: auto; src="https://www.youtube.com/embed/sASfLQm9iCc?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
